// override bootstrap variables
$grid-gutter-width: 50px;

$container-max-widths: (
  sm: 90%,
  md: 90%,
  lg: 90%,
  xl: 90%
);

$primary: #29D7F7;
$secundario: #BF2EE3;
$negro: #070415;
$gris-medio: #4D4E55;
$gris-claro: #E8E8E8;
$blanco: #FCFCFC;
$gris-oscuro: #707070;
